* {
  font-family: "Alegreya Sans", sans-serif;
  margin: 0px auto; }

body {
  background: #f2f2f2; }

a {
  text-decoration: none; }

footer {
  text-align: center;
  position: relative;
  background-color: #707070;
  color: white;
  padding: 5px 0; }

.title {
  font-size: 60px;
  text-align: center;
  position: relative;
  background-color: black; }

.title a:active {
  color: #008c8c; }

.title a:hover {
  color: #00dbdb;
  webkit-filter: blur(1px);
  filter: blur(1px); }

.title a:visited {
  color: #00dbdb; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #d8d8d8;
  position: sticky;
  top: 0;
  width: 100%; }

nav li {
  float: left; }

nav li a {
  display: block;
  color: #008c8c;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px; }

nav li a:hover:not(.active) {
  background-color: #00dbdb;
  color: black; }

.maindiv {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2.5%;
  width: 95%; }

.grid_div {
  width: 100%;
  height: auto;
  text-align: center; }

table {
  width: 70%;
  color: #707070; }

th {
  text-align: left;
  color: #008c8c; }

.btn {
  background-color: #00dbdb;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px; }

.btn2 {
  background-color: #00dbdb;
  border: none;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 1px; }

.btn:hover {
  -webkit-filter: drop-shadow(0 0 5px #707070);
  filter: drop-shadow(0 0 5px #707070);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.btn2:hover {
  -webkit-filter: drop-shadow(0 0 15px #707070);
  filter: drop-shadow(0 0 15px #707070);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.calculator {
  width: 50%; }

#outputName {
  color: #008c8c;
  font-size: 25px; }

@media screen and (min-width: 350px) {
  body {
    margin: 5px; }

  h2 {
    font-weight: 600; }

  th {
    font-size: 12pt;
    font-weight: 600; }

  td {
    font-size: 10pt; }

  .imgs {
    width: 140px;
    -webkit-filter: drop-shadow(0 0 15px #707070);
    filter: drop-shadow(0 0 15px #707070); }

  .imgindx {
    width: 250px; }

  .title {
    letter-spacing: 0px; }

  .h2title {
    padding: 15px 50px 30px 15px;
    text-align: center;
    font-size: 20px; }

  .grid_div p {
    font-size: 15px; } }
@media screen and (min-width: 900px) {
  body {
    margin: 20px; }

  h2 {
    font-weight: 900; }

  th {
    font-size: 17pt;
    font-weight: 900; }

  td {
    font-size: 15pt; }

  .imgs {
    width: 250px;
    -webkit-filter: drop-shadow(0 0 15px #707070);
    filter: drop-shadow(0 0 15px #707070); }

  .imgindx {
    width: 550px; }

  .title {
    letter-spacing: 30px; }

  .h2title {
    padding: 15px 50px 30px 15px;
    text-align: center;
    font-size: 40px; }

  .grid_div p {
    font-size: 35px; } }

/*# sourceMappingURL=style.css.map */
